tensorflow==2.20.0
keras==3.13.2
dvc
numpy
pandas
scikit-learn
matplotlib
seaborn
jupyterlab
scipy
mlflow
notebook
python-box
pyYAML
tqdm
joblib
types-PyYAML
Flask
Flask-Cors
gdown
ensure
python-dotenv